html {
  font-family: sans-serif;
  background: #efefef;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  width: 80%;
  padding: 1em;
  margin: 0 auto;
  background: #fff;
}
